<h1 class='center'>Burgers</h1>

<h1></h1>

<img src='/assets/img/cheeseburger.png' class='image'>

<h3 class='center'>Menu</h3>

<ul>
    {{#each burgers}}
      <div class='center'>{{burger_name}}</div>
    {{/each}}
</ul>