<h1 class='center'>Burgers</h1>

<h1></h1>

<img src='/assets/img/cheeseburger.png' class='image'>

<h3 class='center'>Menu</h3>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <div class='center'>{{burger_name}}
    <button class='devour' data-id={{id}}>EAT!</button>
  </div>
  {{/unless}}
  {{/each}}
</ul>

<form class='create-form center'>
  <div class="form-group center">
    <label for='burger'>Burger Name:</label>
    <input type='text' id='burger' name='name'>
  </div>
  <button type='submit'>Add Burger</button>
</form>

<script>
  $(function () {

    $('.create-form').on('submit', function (event) {
      event.preventDefault();

      var newBurger = {
        burger_name: $('#burger').val().trim(),
        devoured: 0
      }

      $.ajax('/api/burgers', {
        type: 'POST',
        data: newBurger
      }).then(function () {
        console.log('created new burger');
        location.reload();
      }
      )

    })

    $('.devour').on('click', function (event) {
      var id = $(this).data('id');
      console.log('button pressed')
      

      $.ajax("/api/burgers/" + id, {
        type: 'PUT',
        data: {
          devoured: 1
        }
      }).then(function () {
        console.log(`devoured burger ${id}`);
        location.reload();
      })
    })
  })
</script>